[Desktop Entry]
Version=1.0
Type=Application
Name=Freepto Passwords Changer
Comment=Change Freepto Passwords with a GTK UI
Exec=su-to-root -X -c /usr/bin/freepto-passwords-changer
Icon=freepto.ico
Categories=Paranoid;
Path=
Terminal=false
StartupNotify=false
